@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&family=Roboto+Mono&display=swap');
* {
    margin: 0;
    padding: 0;
}

a:hover {
    opacity: 0.7;
    color: #33a3ff;
}

a {
    color: white;
}

.logo {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#image_wolf {
    width: 100%;
    height: 100%;
}

#home_section {
    position: relative;
    top: 2.5em;
    padding-bottom: 6em;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: sytem-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 10px;
}

main {
    background-size: cover;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: -10%;
    font-size: 35px;
}

.me_wolf {
    font-family: 'Roboto Mono', monospace;
    font-size: 50px;
    font-weight: 900;
    color: #111;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: underline yellow;
}

.text_1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 24px;
    font-weight: 900;
    color: #111;
    text-align: center;
}

.direction_2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.wolf {
    width: 100%;
    height: 100%;
    padding: 0;
}

.text_2 {
    padding-top: 25px;
    font-family: 'Roboto Mono', monospace;
    font-size: 24px;
    font-weight: 900;
    color: #111;
    text-align: center;
}

.me_wolf2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 50px;
    font-weight: 900;
    color: #111;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: underline #34ace0;
    padding-bottom: 10px;
}

.habitat {
    width: 100%;
    height: 100%;
}

.me_wolf3 {
    font-family: 'Roboto Mono', monospace;
    font-size: 50px;
    font-weight: 900;
    color: #111;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: underline #2c2c54;
    padding-top: 40px;
}

.text_3 {
    padding-top: 25px;
    font-family: 'Roboto Mono', monospace;
    font-size: 24px;
    font-weight: 900;
    color: #111;
    text-align: center;
}